<ion-header>
  <ion-toolbar>
    <ion-title>Personajes de Naruto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Lista de Personajes</ion-list-header>

    <ion-item routerLink="/personaje-detalles">
      <ion-label>Naruto Uzumaki</ion-label>
    </ion-item>

    <ion-item routerLink="/personaje-detail">
      <ion-label>Sasuke Uchiha</ion-label>
    </ion-item>

    <ion-item routerLink="/personaje-detail">
      <ion-label>Sakura Haruno</ion-label>
    </ion-item>

    <ion-item routerLink="/personaje-detail">
      <ion-label>Kakashi Hatake</ion-label>
    </ion-item>

  </ion-list>
</ion-content>