<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>camara</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">camara</ion-title>
    </ion-toolbar>
  </ion-header>
   <ion-button expand="full" (click)="tomarFoto()">Tomar o elegir foto</ion-button>

  <div *ngIf="foto" style="margin-top: 20px;">
    <img [src]="foto" alt="Foto tomada" style="width: 100%; border-radius: 10px;" />
  </div>
</ion-content>
