<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Mi Carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list *ngIf="carrito.length > 0; else emptyCart">
    <ion-item *ngFor="let item of carrito; let i = index">
      <ion-thumbnail slot="start">
        <img [src]="item.imagen" alt="{{item.nombre}}">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ item.nombre }}</h2>
        <p>{{ item.descripcion }}</p>
        <p><strong>\${{ item.precio }}</strong></p>
      </ion-label>
      <ion-button color="danger" fill="clear" (click)="eliminarProducto(i)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ng-template #emptyCart>
    <div class="ion-text-center">
      <ion-icon name="cart-outline" size="large"></ion-icon>
      <p>Tu carrito está vacío</p>
    </div>
  </ng-template>

  <div *ngIf="carrito.length > 0" class="ion-padding-top ion-text-end">
    <h2>Total: ${{ totalCarrito() }}</h2>
    <ion-button expand="block" color="success" (click)="irAPago()">
      Proceder al Pago
    </ion-button>
  </div>

</ion-content>

