<div style="position: absolute; top: 20px; right: 20px;">
  <ion-button size="small" (click)="register()" fill="clear">Registrarse</ion-button>
</div>

<div class="login-container">
  <div class="logo-container">
    <img src="../../assets/img/image.png" alt="Logo" class="logo-img" />
  </div>

  <form (ngSubmit)="login($event)">
    <ion-item #emailInputItem>
      <ion-input
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="correo@dominio.com"
        required>
      </ion-input>
    </ion-item>

    <ion-item class="ion-margin-top" #passwordInputItem>
      <ion-input
        type="password"
        [(ngModel)]="password"
        name="password"
        required>
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" class="ion-margin-top">Iniciar sesión</ion-button>
  </form>

  <div class="version-info">
    <span>Versión 1.0.0</span>
  </div>
</div>

<ion-toast
  [isOpen]="isToastOpen"
  [message]="toastMessage"
  [duration]="3000"
  (didDismiss)="isToastOpen = false">
</ion-toast>
