<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
    <!-- Sección: Wiki de Naruto -->
    <ion-list>
      <ion-list-header>Wiki de Naruto</ion-list-header>
      <ion-item routerLink="/home2">
        <ion-icon name="people-outline" slot="start"></ion-icon>
        <ion-label>Personajes</ion-label>
      </ion-item>
      <ion-item routerLink="/jutsus">
        <ion-icon name="flash-outline" slot="start"></ion-icon>
        <ion-label>Jutsus</ion-label>
      </ion-item>
      <ion-item routerLink="/clanes">
        <ion-icon name="shield-outline" slot="start"></ion-icon>
        <ion-label>Clanes</ion-label>
      </ion-item>
    </ion-list>

    <!-- Sección: Tienda -->
    <ion-list>
      <ion-list-header>Tienda</ion-list-header>
      <ion-item routerLink="/figuritas">
        <ion-icon name="cart-outline" slot="start"></ion-icon>
        <ion-label>Figuritas</ion-label>
      </ion-item>
      <ion-item routerLink="/ofertas">
        <ion-icon name="pricetags-outline" slot="start"></ion-icon>
        <ion-label>Ofertas</ion-label>
      </ion-item>
      <ion-item routerLink="/carrito">
        <ion-icon name="basket-outline" slot="start"></ion-icon>
        <ion-label>Carrito</ion-label>
      </ion-item>
    </ion-list>









</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> Tap the button in the toolbar to open the menu. </ion-content>
</div>
