<div class="login-container">
  <div class="logo-container">
    <img src="../../assets/img/image.png" alt="Logo" class="logo-img" />
  </div>

  <form (submit)="register()">
    <div>
      <ion-item>
        <ion-input 
          label="Email input" 
          type="email" 
          [(ngModel)]="usuario" 
          name="usuario" 
          placeholder="email@domain.com">
        </ion-input>
      </ion-item>
  
      <ion-item class="ion-margin-top">
        <ion-input 
          type="password" 
          label="Password" 
          [(ngModel)]="usuariopassword" 
          name="usuariopassword">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
    </div>

    <ion-button expand="block" type="submit">Registrar</ion-button>
  </form>

  <div class="version-info">
    <span>Versión 1.0.0</span>
  </div>
</div>

<ion-toast
    [isOpen]="isToastOpen"
    message="Error al registrar"
    [duration]="5000"
    (didDismiss)="isToastOpen = false">
</ion-toast>
